<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mypro2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25688F2A1DAA20CB002AA448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25688F431DAA20CB002AA448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25688F4E1DAA20CB002AA448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
