<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第1家店地址</string>
			<key>storeImage</key>
			<string>store_name01</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage1</string>
			<key>GoodsName</key>
			<string>转转乐|商品1</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>37</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage2</string>
			<key>GoodsName</key>
			<string>转转乐|商品2</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>11</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage3</string>
			<key>GoodsName</key>
			<string>转转乐|商品3</string>
			<key>GoodsPrice</key>
			<string>38</string>
			<key>PreferentPrice</key>
			<string>35</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage4</string>
			<key>GoodsName</key>
			<string>转转乐|商品4</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>24</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage5</string>
			<key>GoodsName</key>
			<string>转转乐|商品5</string>
			<key>GoodsPrice</key>
			<string>24</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage6</string>
			<key>GoodsName</key>
			<string>转转乐|商品6</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage7</string>
			<key>GoodsName</key>
			<string>转转乐|商品7</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>33</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage8</string>
			<key>GoodsName</key>
			<string>转转乐|商品8</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage9</string>
			<key>GoodsName</key>
			<string>转转乐|商品9</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>29</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage10</string>
			<key>GoodsName</key>
			<string>转转乐|商品10</string>
			<key>GoodsPrice</key>
			<string>29</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第2家店地址</string>
			<key>storeImage</key>
			<string>store_name02</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage11</string>
			<key>GoodsName</key>
			<string>意享披萨|商品1</string>
			<key>GoodsPrice</key>
			<string>34</string>
			<key>PreferentPrice</key>
			<string>27</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage12</string>
			<key>GoodsName</key>
			<string>意享披萨|商品2</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage13</string>
			<key>GoodsName</key>
			<string>意享披萨|商品3</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>22</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage14</string>
			<key>GoodsName</key>
			<string>意享披萨|商品4</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage15</string>
			<key>GoodsName</key>
			<string>意享披萨|商品5</string>
			<key>GoodsPrice</key>
			<string>23</string>
			<key>PreferentPrice</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage16</string>
			<key>GoodsName</key>
			<string>意享披萨|商品6</string>
			<key>GoodsPrice</key>
			<string>38</string>
			<key>PreferentPrice</key>
			<string>35</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage17</string>
			<key>GoodsName</key>
			<string>意享披萨|商品7</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage18</string>
			<key>GoodsName</key>
			<string>意享披萨|商品8</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage19</string>
			<key>GoodsName</key>
			<string>意享披萨|商品9</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>36</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage20</string>
			<key>GoodsName</key>
			<string>意享披萨|商品10</string>
			<key>GoodsPrice</key>
			<string>31</string>
			<key>PreferentPrice</key>
			<string>27</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第3家店地址</string>
			<key>storeImage</key>
			<string>store_name03</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage21</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品1</string>
			<key>GoodsPrice</key>
			<string>31</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage22</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品2</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>27</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage23</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品3</string>
			<key>GoodsPrice</key>
			<string>34</string>
			<key>PreferentPrice</key>
			<string>32</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage24</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品4</string>
			<key>GoodsPrice</key>
			<string>35</string>
			<key>PreferentPrice</key>
			<string>29</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage25</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品5</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>32</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage26</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品6</string>
			<key>GoodsPrice</key>
			<string>24</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage27</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品7</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage28</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品8</string>
			<key>GoodsPrice</key>
			<string>23</string>
			<key>PreferentPrice</key>
			<string>14</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage29</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品9</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage30</string>
			<key>GoodsName</key>
			<string>QQ脆皮鸡排|商品10</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>27</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第4家店地址</string>
			<key>storeImage</key>
			<string>store_name04</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage31</string>
			<key>GoodsName</key>
			<string>骨之味|商品1</string>
			<key>GoodsPrice</key>
			<string>29</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage32</string>
			<key>GoodsName</key>
			<string>骨之味|商品2</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>26</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage33</string>
			<key>GoodsName</key>
			<string>骨之味|商品3</string>
			<key>GoodsPrice</key>
			<string>23</string>
			<key>PreferentPrice</key>
			<string>16</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage34</string>
			<key>GoodsName</key>
			<string>骨之味|商品4</string>
			<key>GoodsPrice</key>
			<string>38</string>
			<key>PreferentPrice</key>
			<string>33</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage35</string>
			<key>GoodsName</key>
			<string>骨之味|商品5</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>34</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage36</string>
			<key>GoodsName</key>
			<string>骨之味|商品6</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage37</string>
			<key>GoodsName</key>
			<string>骨之味|商品7</string>
			<key>GoodsPrice</key>
			<string>21</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage38</string>
			<key>GoodsName</key>
			<string>骨之味|商品8</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage39</string>
			<key>GoodsName</key>
			<string>骨之味|商品9</string>
			<key>GoodsPrice</key>
			<string>33</string>
			<key>PreferentPrice</key>
			<string>33</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage40</string>
			<key>GoodsName</key>
			<string>骨之味|商品10</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>39</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第5家店地址</string>
			<key>storeImage</key>
			<string>store_name05</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage41</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品1</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage42</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品2</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>13</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage43</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品3</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage44</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品4</string>
			<key>GoodsPrice</key>
			<string>30</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage45</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品5</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>25</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage46</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品6</string>
			<key>GoodsPrice</key>
			<string>35</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage47</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品7</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage48</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品8</string>
			<key>GoodsPrice</key>
			<string>27</string>
			<key>PreferentPrice</key>
			<string>26</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage49</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品9</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>21</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage50</string>
			<key>GoodsName</key>
			<string>甜丫丫|商品10</string>
			<key>GoodsPrice</key>
			<string>31</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第6家店地址</string>
			<key>storeImage</key>
			<string>store_name06</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage51</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品1</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>34</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage52</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品2</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>32</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage53</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品3</string>
			<key>GoodsPrice</key>
			<string>35</string>
			<key>PreferentPrice</key>
			<string>34</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage54</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品4</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>27</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage55</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品5</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage56</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品6</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage57</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品7</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>14</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage58</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品8</string>
			<key>GoodsPrice</key>
			<string>38</string>
			<key>PreferentPrice</key>
			<string>29</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage59</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品9</string>
			<key>GoodsPrice</key>
			<string>34</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage60</string>
			<key>GoodsName</key>
			<string>正宗骨汤麻辣烫|商品10</string>
			<key>GoodsPrice</key>
			<string>23</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第7家店地址</string>
			<key>storeImage</key>
			<string>store_name07</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage61</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品1</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage62</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品2</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage63</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品3</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage64</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品4</string>
			<key>GoodsPrice</key>
			<string>30</string>
			<key>PreferentPrice</key>
			<string>26</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage65</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品5</string>
			<key>GoodsPrice</key>
			<string>29</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage66</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品6</string>
			<key>GoodsPrice</key>
			<string>27</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage67</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品7</string>
			<key>GoodsPrice</key>
			<string>28</string>
			<key>PreferentPrice</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage68</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品8</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>38</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage69</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品9</string>
			<key>GoodsPrice</key>
			<string>23</string>
			<key>PreferentPrice</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage70</string>
			<key>GoodsName</key>
			<string>食尚煲仔饭|商品10</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第8家店地址</string>
			<key>storeImage</key>
			<string>store_name08</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage71</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品1</string>
			<key>GoodsPrice</key>
			<string>27</string>
			<key>PreferentPrice</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage72</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品2</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage73</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品3</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage74</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品4</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage75</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品5</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage76</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品6</string>
			<key>GoodsPrice</key>
			<string>34</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage77</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品7</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>21</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage78</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品8</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>14</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage79</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品9</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage80</string>
			<key>GoodsName</key>
			<string>鲜芋仙|商品10</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>35</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第9家店地址</string>
			<key>storeImage</key>
			<string>store_name09</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage81</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品1</string>
			<key>GoodsPrice</key>
			<string>33</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage82</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品2</string>
			<key>GoodsPrice</key>
			<string>20</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage83</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品3</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>23</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage84</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品4</string>
			<key>GoodsPrice</key>
			<string>27</string>
			<key>PreferentPrice</key>
			<string>22</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage85</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品5</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>32</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage86</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品6</string>
			<key>GoodsPrice</key>
			<string>36</string>
			<key>PreferentPrice</key>
			<string>33</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage87</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品7</string>
			<key>GoodsPrice</key>
			<string>22</string>
			<key>PreferentPrice</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage88</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品8</string>
			<key>GoodsPrice</key>
			<string>35</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage89</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品9</string>
			<key>GoodsPrice</key>
			<string>35</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage90</string>
			<key>GoodsName</key>
			<string>老塞行动咖啡|商品10</string>
			<key>GoodsPrice</key>
			<string>29</string>
			<key>PreferentPrice</key>
			<string>22</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ShopAddress</key>
			<string>第10家店地址</string>
			<key>storeImage</key>
			<string>store_name10</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage91</string>
			<key>GoodsName</key>
			<string>85°C|商品1</string>
			<key>GoodsPrice</key>
			<string>37</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage92</string>
			<key>GoodsName</key>
			<string>85°C|商品2</string>
			<key>GoodsPrice</key>
			<string>24</string>
			<key>PreferentPrice</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage93</string>
			<key>GoodsName</key>
			<string>85°C|商品3</string>
			<key>GoodsPrice</key>
			<string>32</string>
			<key>PreferentPrice</key>
			<string>25</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage94</string>
			<key>GoodsName</key>
			<string>85°C|商品4</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>单品</string>
			<key>GoodsImage</key>
			<string>GoodsImage95</string>
			<key>GoodsName</key>
			<string>85°C|商品5</string>
			<key>GoodsPrice</key>
			<string>31</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage96</string>
			<key>GoodsName</key>
			<string>85°C|商品6</string>
			<key>GoodsPrice</key>
			<string>25</string>
			<key>PreferentPrice</key>
			<string>17</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>热销</string>
			<key>GoodsImage</key>
			<string>GoodsImage97</string>
			<key>GoodsName</key>
			<string>85°C|商品7</string>
			<key>GoodsPrice</key>
			<string>34</string>
			<key>PreferentPrice</key>
			<string>31</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage98</string>
			<key>GoodsName</key>
			<string>85°C|商品8</string>
			<key>GoodsPrice</key>
			<string>24</string>
			<key>PreferentPrice</key>
			<string>24</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>饮品</string>
			<key>GoodsImage</key>
			<string>GoodsImage99</string>
			<key>GoodsName</key>
			<string>85°C|商品9</string>
			<key>GoodsPrice</key>
			<string>30</string>
			<key>PreferentPrice</key>
			<string>28</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>套餐</string>
			<key>GoodsImage</key>
			<string>GoodsImage100</string>
			<key>GoodsName</key>
			<string>85°C|商品10</string>
			<key>GoodsPrice</key>
			<string>39</string>
			<key>PreferentPrice</key>
			<string>30</string>
		</dict>
	</array>
</array>
</plist>
