<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section1</key>
	<array>
		<string>image0</string>
		<string>image1</string>
		<string>image2</string>
		<string>image3</string>
		<string>image4</string>
		<string>image5</string>
		<string>image6</string>
		<string>image7</string>
		<string>image8</string>
		<string>image9</string>
	</array>
	<key>section2</key>
	<array>
		<string>info0</string>
		<string>info1</string>
		<string>info2</string>
		<string>info3</string>
	</array>
	<key>section3</key>
	<array>
		<array>
			<array>
				<string>在线支付满100元减10元</string>
				<string>特价菜品，每人限购一份</string>
				<string>下单满109免配送费</string>
				<string>新用户在线支付立减15元，使用百度钱包支付立减25元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>1.1km </string>
				<key>maxTime</key>
				<string>20分钟</string>
				<key>sell</key>
				<string>月售85份</string>
				<key>sellPrace</key>
				<string>起送¥50 | 配送 ¥5 </string>
				<key>storeImage</key>
				<string>store_name01</string>
				<key>storeName</key>
				<string>转转乐(湖里万达店)</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满20元减7元，满60减16元</string>
				<string>6折菜品</string>
				<string></string>
				<string>新用户在线支付满13立减11元，使用百度钱包支付立减21元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>3.5km </string>
				<key>maxTime</key>
				<string>45分钟</string>
				<key>sell</key>
				<string>月售168份</string>
				<key>sellPrace</key>
				<string>起送¥40 | 配送 ¥3 </string>
				<key>storeImage</key>
				<string>store_name02</string>
				<key>storeName</key>
				<string>意享披萨(钟宅店)</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满20元减10元,满50元减25元</string>
				<string>1元秒杀</string>
				<string>买一送一啦！</string>
				<string>新用户在线支付立减15元，使用百度钱包支付立减15元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>3.1km </string>
				<key>maxTime</key>
				<string>40分钟</string>
				<key>sell</key>
				<string>月售93份</string>
				<key>sellPrace</key>
				<string>起送¥35 | 配送 ¥5 </string>
				<key>storeImage</key>
				<string>store_name03</string>
				<key>storeName</key>
				<string>QQ脆皮鸡排</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满89元减15元，满150减20元</string>
				<string>特价菜品，每人限购一份</string>
				<string>水果饮料自助</string>
				<string>新用户在线支付立减16元，使用百度钱包支付立减26元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>2.5km </string>
				<key>maxTime</key>
				<string>35分钟</string>
				<key>sell</key>
				<string>月售105份</string>
				<key>sellPrace</key>
				<string>起送¥40 | 配送 ¥3</string>
				<key>storeImage</key>
				<string>store_name04</string>
				<key>storeName</key>
				<string>骨之味</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满50元减10元，满99减15元</string>
				<string>每天一种特价甜品</string>
				<string></string>
				<string>新用户在线支付立减10元，使用百度钱包支付立减15元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>3.2km </string>
				<key>maxTime</key>
				<string>40分钟</string>
				<key>sell</key>
				<string>月售25份</string>
				<key>sellPrace</key>
				<string>起送¥25 | 配送 ¥0</string>
				<key>storeImage</key>
				<string>store_name05</string>
				<key>storeName</key>
				<string>甜丫丫</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满40元减10元，满70减19元</string>
				<string>免费两种凉菜</string>
				<string></string>
				<string>新用户在线支付立减5元，使用百度钱包支付立减10元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️ ⭐️</string>
				<key>distance</key>
				<string>1.7km </string>
				<key>maxTime</key>
				<string>25分钟</string>
				<key>sell</key>
				<string>月售65份</string>
				<key>sellPrace</key>
				<string>起送¥50 | 配送 ¥10 </string>
				<key>storeImage</key>
				<string>store_name06</string>
				<key>storeName</key>
				<string>正宗骨汤麻辣烫</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满50元减10元，满80减15元</string>
				<string>免费饮料和凉菜</string>
				<string>下单满89免配送费</string>
				<string>新用户在线支付立减16元，使用百度钱包支付立减26元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>1.3km </string>
				<key>maxTime</key>
				<string>15分钟</string>
				<key>sell</key>
				<string>月售155份</string>
				<key>sellPrace</key>
				<string>起送¥30 | 配送 ¥3</string>
				<key>storeImage</key>
				<string>store_name07</string>
				<key>storeName</key>
				<string>食尚煲仔饭(蔡塘店)</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满220元减20元，满300减50元</string>
				<string>特价菜品，每人限购一份</string>
				<string>下单满249免配送费</string>
				<string>新用户在线支付立减20元，使用百度钱包支付立减25元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>2.1km </string>
				<key>maxTime</key>
				<string>15分钟</string>
				<key>sell</key>
				<string>月售75份</string>
				<key>sellPrace</key>
				<string>起送¥200 | 配送 ¥15</string>
				<key>storeImage</key>
				<string>store_name08</string>
				<key>storeName</key>
				<string>鲜芋仙</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满40元减送一杯饮料</string>
				<string></string>
				<string>下单满89免配送费</string>
				<string>新用户在线支付立减5元，使用百度钱包支付立减10元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>900m </string>
				<key>maxTime</key>
				<string>10分钟</string>
				<key>sell</key>
				<string>月售59份</string>
				<key>sellPrace</key>
				<string>起送¥45 | 配送 ¥5 </string>
				<key>storeImage</key>
				<string>store_name09</string>
				<key>storeName</key>
				<string>老塞行动咖啡</string>
			</dict>
		</array>
		<array>
			<array>
				<string>在线支付满80元减10元，满100减15元</string>
				<string></string>
				<string>每周二蛋糕7折</string>
				<string>新用户在线支付立减10元，使用百度钱包支付立减15元</string>
			</array>
			<dict>
				<key>comment</key>
				<string>⭐️⭐️⭐️</string>
				<key>distance</key>
				<string>2.2km</string>
				<key>maxTime</key>
				<string>25分钟</string>
				<key>sell</key>
				<string>月售219份</string>
				<key>sellPrace</key>
				<string>起送¥20 | 配送 ¥0</string>
				<key>storeImage</key>
				<string>store_name10</string>
				<key>storeName</key>
				<string>85°C</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
